name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build the Docker image
        run: docker build . -f .devcontainer/Dockerfile -t final-proj:ci

      - name: Run test
        run: docker run --rm final-proj:ci bash -lc "python -m pytest ./test_final_proj.py -v"